@import "../helpers/reset";
@import "../helpers/_functions";

@mixin wrapper3D {
  position: relative;
  width: 100%;
  height: 600px;
  perspective: 1000px;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
}

@mixin animation($name,$time,$timing,$count,$fill:null) {
  animation: $name $time $timing $count $fill;
}

@mixin boxShadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, .8) inset, 0 0 4px rgba(0, 0, 0, .9);
}

@include rotateCircle(0, 15deg, 0, 360deg);

.circle3D {
  @include wrapper3D;
  .circle3Ds {
    @include center;
    transform-style: preserve-3d;
    @include animation(rotateCircle, 60s, linear, infinite);
    & > div {
      position: absolute;
      opacity: .9;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      @include boxShadow;
      @include transform(2s, all, cubic-bezier(.1, .7, .7, 1.3), preserve-3d);
    }
  }
}